{% extends 'base.html' %}

{% block title %}
View tasks
{% endblock title%}

{% block body%}

<body style="background-color:#F0F8FF;">
  <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tasks</th>
      <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Added on</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for item in data %}
      
        
        </td>
        <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.task}}
        </td>
        <td>{{item.date}}</td>
        
        
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         <a class="btn btn-success" href="{% url 'deletedata' id=item.id %}" style="padding-left:5%; padding-right:5%;">Completed &#10003;</a>
         </td>
         <td>
         </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
{% endblock body%}